
@media (max-width:800px) {

    .conteiner-contact {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 517px;
        background: url(../images/a.roy/fundo.png) no-repeat center center;
        background-size: cover;
    }

    .conteiner-como-contactar{
    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 400px;
    background-color: #3b3a3a;
    text-align: center;
    padding-top: 50px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


}
    .conteiner-como-contactar01{
    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 450px;
    background-color: #3b3a3a;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}
.conteiner-como-contactar02{
    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 460px;
    background-color: #3b3a3a;
    text-align: center;
    padding-top: 50px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
}

}
