@charset "UTF8";




.d-flex{
        
        padding: 1rem;
        background-color: #43434347;

        }
     .d-flex>h2{
      color: white;
      padding: 8px;
      border-radius: 10px;
      background-color: #0056b3;
      font-size: 1.2rem;
      border-radius: 16px;
        }

    .cart-container {
      display: none;
      position: fixed;
      top: 93px;
      right: 20px;
      width: 350px;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
      z-index: 999;
      transition: all 0.3s ease-in-out;
    }
    .cart-container ul{
       
    max-height: 50vh;
    overflow-y: auto;
    }

    .cart-container.show {
      display: flex;
      flex-direction: column;
      animation: fadeIn 0.3s ease;
      
    }

     .whatsapp-float button{
      color: white;
      margin-top: 8px;
      width: 100%;
      height: 34px;
      background: rgb(18, 138, 18);
      border-radius: 6px;
      border: none;
     
        } 
        .whatsapp-float button:hover{
            background-color:rgb(7, 82, 7) ;
        }
        .btn2{
            width: 100%;
            background-color:#000000b8;
        }
        .btn2:hover{
        background-color:#595959;
       
        }

.produto {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}
.produto img{
    margin: auto;
   
}


.produto-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.add-to-cart {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.add-to-cart:hover {
    background-color: #0056b3;
}


.filter-container{
  padding: 2%;
 
}
.filter-container label{
    padding: 10px;
    color: white;
    background-color: #007BFF;
    border-radius: 20px;
}
.filter-container select{
    padding: 4px;
    margin-top: 4%;
}
