header{
    background-color: #333;
}
.header-bottom-side-left p{
    background-color: #ffffff42;
    padding: 10px;
    border-radius: 10px;
    padding-left: 2%;

}

.header-bottom-side-right{
    width: 300px;
    height: 360px;
   
}
.inner-header-bottom-side-right{
    background-color: #ffffff24;
    border-radius: 10px;
    width: 85%;
    height: 85%;
    border: solid rgba(128, 128, 128, 0.434) 1px;
}

.header-bottom-side-right img {
    width: 100%;
    height: 109%;
}